---
layout: page
title: Adaptation
subtitle: Drivers' behavioural adaptation over the time in response to ADAS use
date: 2010 - 2013
permalink: /projects/adaptation.html
mainmenu: false
---

<div class="home">

  <h1 class="page-heading">{{ page.subtitle }}</h1>

  <ul class="post-list">
      <li> Funding: FP7-PEOPLE-ITN-2008 - Marie Curie Action: "Networks for Initial Training" </li>
      <li> Duration: 01/02 - 03/05</li>
  </ul>
<p>
The objective of ADAPTATION is to improve the career perspectives of young researchers by taking part in an innovative European research programme aiming at investigating drivers' behavioural adaptation and its underlying processes over the time in response to Advanced Driver Assistance Systems (ADAS) use. The research programme integrates, under a joint theoritical framework and a joint longitudinal methodological design, a set of individual projects dealing with the various aspects of the adaptation process. In addition to training-through research, personalized training actions will extend the skills of this future generation of academia and industry researchers. The training programme implemented during the ITN lifetime aims to accelerate acquisition of skills in Human Factors applied to ADAS design, to favour multi-disciplinary approaches, to strengthen to disseminate research results and to widen the career prospect with complementary skill on team and project management. Through its research and training programmes, ADAPTATION will contribute both to the development of the ERA and to an increase of EU competitiveness. The competitiveness of the European Industry and the implementation of their products will be improved by better response of ADAS to the drivers' needs and requirements. The European community will also benefit from the education of high skilled professionals and the development of durable training programmes for a future generation of researchers.
</p>
<p>
Research considered, among other topics, the needs of older drivers in terms of ADAS, factors impacting driver behaviour and adaptation to ADAS use, misuses of ADAS and the use of mobile phones while driving. The team advanced new methods for assessing mental models and situation awareness in the context of ADAS use, and designed and evaluated a workload-adaptive cruise control prototype.

ADAPTATION considered a new approach for preventing distraction and inattention by combining behaviour-based safety with ADAS. Project members also designed a framework for modelling scenarios on driving simulators and established a database for behavioural data storage and analysis.

ADAPTATION has contributed to the competitiveness of European industry and development of the European Research Area (ERA). The programme also extended the skills of academia and industry researchers, for all round maximum benefit to the EU and its citizens.


</p>
<h4>Outputs</h4>
<a href='https://cordis.europa.eu/result/rcn/163492_en.html'>Final report</a>
</div>
