---
layout: page
title: Gerico
subtitle: Gestion de l’Énergie paR Interface COnducteur
date: 2002 - 2005
permalink: /projects/gerico.html
mainmenu: false
---

<div class="home">

  <h1 class="page-heading">{{ page.subtitle }}</h1>

  <ul class="post-list">
      <li> Funding: European (5th RTD Framework Programme) - RD1-2000-25361. </li>
      <li> Duration: 01/02 - 03/05</li>
  </ul>
<p>

</p>
This project developed and evaluated an in-vehicle information system aimed to help reducing energy and fuel consumption.

The system works with a dedicated software that integrates map data regularly updated. The driver receives suggestions on the dashboard about the speed to use and the optimal gear ratio, depending on the route taken, in order to reduce fuel consumption. A GPS guidance device can be installed in addition, helping the driver to keep is traveling path.
</p>
<p>
The comparative analysis of the tests carried out showed that
embedded assistance system is more efficient than a
economical driving training, with a reduction of 17%
of fuel consumption against a reduction of
11%.
</p>
<h4>Outputs</h4>
<a href='https://www.ademe.fr/sites/default/files/assets/documents/62640_predit_gerico.pdf'>Leaflet</a>
</div>
