---
layout: page
title: INTERACTION
subtitle: Differences and similarities in driver interaction with in-vehicle technologies
date: 2008 - 2012
permalink: /projects/interaction.html
mainmenu: false
---

<div class="home">

  <h1 class="page-heading">{{ page.subtitle }}</h1>
  <ul class="post-list">
      <li> Funding: European (FP7-Transport) - ProjID: 218560. </li>
      <li> Duration: 01/02 - 03/05</li>
  </ul>
<p>
The main objective of INTERACTION project was to identify the patterns of use of in-vehicle technologies by European drivers in everyday life and their long term effects on driver’s behaviour and skills in normal and emergency situations. 
Thus, the project highlighted cultural and individual differences amongst European drivers that influence the nature of drivers interactions in-vehicle technology, and the consequent outcomes of these interactions. To achieve these objectives, a comprehensive research framework to investigate in-vehicle technology use has been developed. This framework is based on an innovative combination of well established research methodologies and technics : focus groups, questionnaire survey, naturalistic observations, and in-depth observations. 
The purpose of this combined approach is to gather self-reported and observed driver behaviour data and qualitative and quantitative analysis. 
The target impacts will be the reduction of the risks of systems misuses and of possible human error by drivers. 
Thus, it will increase the global benefits of in vehicle technology in enhancing road safety. 
</p>
<p>
INTERACTION thus contributes to the reduction of the risks of systems misuses, of drivers' unsafe actions and in turn to increase the global benefits of in vehicle technology in enhancing road safety.

The results of the INTERACTION project led to the development of the recommendations and guidelines. They cover methodological issues; design and engineering; education and awareness; and legislation and enforcement. The recommendations are relevant to legislative bodies, research institutes, driver training organisations, insurance companies and vehicle manufacturers alike.</p>
<h4>Outputs</h4>
<ul>
	<li><a href="https://cordis.europa.eu/result/rcn/86527_en.html">Safer use of driver-assistance technologies</a></li>
	<li><a href="https://cordis.europa.eu/docs/results/218/218560/143876431-8_en.zip">Final Report</a>

</div>
