---
layout: page
title: TECO
subtitle: Tempo de Colisão
date: 2003 - 2005
permlink: /projects/teco.html
mainmenu: false
---

<div class="home">

	<h1 class="page-heading">{{ page.subtitle }}</h1>

  <ul class="post-list">
      <li> Funding: FCT, POCTI/ECM/11299/2001 </li>
      <li> Duration: 2003 - 2005</li>
  </ul>
<p>
</p>
<p>
</p>
</div>
