---
layout: page
title: Publications 
permalink: /papers/

---
<style>
    .paper-list { 
	    font-size: 14px;
	    font-family: Arial, Helvetica, sans-serif;
	    list-style-type: square;
    }
    li.paper-item { margin:0 0 10px 0; }
    .paper-title   { font-weight: bold; }
    .paper-authors { font-style: italic; }
    .paper-local   { font-style: normal; }
    .paper-year    { font-style: normal; }
</style>

<div class="home">

  <h1 class="page-heading"></h1>

  {% assign total = 0 %}
  {% assign firstyear = 1995 %}
  {% assign lastyear = 2030 %}
  {% assign nyears = lastyear | minus: firstyear %}
  {% for y in ( 0..nyears ) %}
    {% assign year = lastyear | minus: y %}
    {% assign npapers = 0 %}
    {% for paper in site.data.papers.papers %}
        {% if year == paper.year %}
	  {% assign npapers = npapers | plus:1 %}
	{% endif -%}
    {% endfor %}
    {% if npapers > 0 %}
    <h4 id='year{{ year }}'> {{ year }} </h4>
    {% assign total = total | plus:npapers %}
    {% endif %}
    <ul class="paper-list">
      {% for paper in site.data.papers.papers %}
        {% if year == paper.year %}
	<li class="paper-item" id="paper{{ year }}_{ npapers }">
	      {% assign npapers = npapers | minus:1 %}
  	      <span class="paper-authors"> {{ paper.authors }} </span> 
  	      <span class="paper-year"> ({{ paper.year }}). </span>
  	      <span class="paper-title"> {{ paper.title }}. </span>
  	      <span class="paper-local"> {{ paper.local }}. </span>
	      {% if paper.url and paper.url != "" %}
		<span class="paper-link">
		  <a href="{{ paper.url }}">
		    <img src="{{ site.baseurl }}/images/link.png" widh=16 height=16 alt=">" title="Full text">
		  </a>
	      {% endif %}

          </li>
	{% endif %}
      {% endfor %}
    </ul>

  {% endfor %}
  {{ total }} publications listed.

</div>


