---
layout: page
title: Projects
permalink: /projects/
---
<style>
  h3.project_title {
	margin-bottom: 0em;
	margin-top: 0em;
  }
  h4.project_title {
	margin-top: 0em;
  }
</style>
<div class="home">

  <h1 class="page-heading"></h1>

  <ul class="post-list"> 
    {% for proj in site.pages %}
    {% if proj.path contains 'projects/' %}
      <li>
	      <span class="post-meta">{{ proj.date }}</span>
	      <a class="post-link" href="{{ site.baseurl }}{{ proj.url }}">
		      <h3 class="project_title">{{ proj.title }}</h3>
		      <h4 class="project_title">{{ proj.subtitle }}</h4>
	      </a> 
      </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
