<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
	<span class="footer-heading">Location</span>
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>FEUP, G003</li>
	  <li>Rua Roberto Frias</li>
	  <li>Porto, Portugal</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
	<span class="footer-heading">Contacts</span>
        <ul class="social-media-list">
          {% if site.email %}
          <li class="social-media-list">
            {% include icon-email.html username=site.email %}
          </li>
          {% endif %}

	  {% if site.github_username %}
          <li class="social-media-list">
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li class="social-media-list">
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

	  {% if site.gitlab_groupname %}
          <li class="social-media-list">
            {% include icon-gitlab.html username=site.gitlab_groupname %}
          </li>
          {% endif %}

        </ul>
      </div>

      <div class="footer-col footer-col-3">
	      <span class="footer-heading">{{ site.title }}</span>
	<ul class="contact-list">
        <li>{{ site.description }}</li>
	<li><a href="{{ site.url }}">{{ site.url }}{{ site.baseurl }}</a></li>
	</ul>
	<ul>
		<li><a href="{{ site.baseurl }}/about">Site Information</a></li>
		<li><a href="https://gitlab.com/dris_porto/dris/wikis/home">Intranet Portal</a></li>
	</ul>
      </div>
    </div>

  </div>

</footer>
