
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
	{% if page.webtitle %}
	    {{ page.web.title | escape }}
	{% else %}
	    {% if page.title %}
	    	{{ site.title | escape }} : {{ page.title | escape }}
	    {% else %}
	    	{{ site.title | escape }}
	    {% endif %}
    	{% endif %}
    </title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="DriS,Driving Simulator,Visual,Training,Road,Virtual">
    <meta name="author" content="DriS Dev Team">
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/dris_mini_icon.ico">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins">
  </head>
