<header class="site-header">

    <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">
	<img src="/site/images/dris_webicon.png" alt="DriS" height="37" width="102" alt="DriS">
    </a>

    <nav class="site-nav">
      <a href="#" class="menu-icon">
      </a>

      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
	  {% if my_page.mainmenu != false %}
            <span class="page-block" onclick="location.href='{{ my_page.url | prepend: site.baseurl }}';">
		  <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            </span>
	  {% endif %}
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
